doctype html
html(ng-app="app")
  head
    title Appuesta Social
    meta(charset="utf-8")
    meta(name="viewport",content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=medium-dpi")

    if env == 'dev'
      each file in css
        link(rel="stylesheet",href="#{file}")
      each file in lib
        script(type="text/javascript",src="#{file}")
      each file in js
        script(type="text/javascript",src="#{file}")
    else
      link(rel="stylesheet",href="style.css")
      script(type="text/javascript",src="lib.js")
      script(type="text/javascript",src="app.js")

    script(type="text/ng-template", id="buttons-")


  body
      header(ng-if="inHome()")
        a.back back
        h2 {{ title }}

      #loading(ng-show="loading") Cargando ...

      section.content(ng-view)

      footer
      button#cool(ng-if="btnVisible",ng-click='controles.avanzar()') {{continue || 'Ok'}}